:root {
	--primary-theme: #00aab5;
	--secundary-theme: #91e7da;
	--primary-theme-hover: #008892;
	--cta-bg-color: #48c955;
	--cta-border-color: #47851e;
	--cta-hover-color: #3db249;
	--text-color-default: #3e3e3e;
	--order-economy: #a8d78c;
}