/*
Developer: Peterson Macedo
*/

@charset "UTF-8";
@import url('color.css');

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

:after, :before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

html {
	-webkit-tap-highlight-color: transparent
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	font-family: "Roboto Slab";
	color: var(--text-color-default);
	background-color: #fff
}

button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--primary-theme);
}

a {
	color: var(--primary-theme);
	text-decoration: none
}

a:focus, a:hover {
	color: var(--primary-theme-hover);
	text-decoration: underline
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

figure {
	margin: 0
}

img {
	height: auto;
	max-width: 100%;
	display: block;
	border-radius: 5px;
}

/* Header */

.topbar {
	position: relative;
}

.topbar a {
	font-size: 13px;
	font-weight: 600;
	color: var(--text-color-default);
}

.topbar i:before {
	font-size: 11px;
}

header:before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 6px;
	background: var(--primary-theme);
	z-index: 1;
}

header:after {
	content: "";
	position: absolute;
	top: 6px;
	width: 100%;
	height: 4px;
	background: var(--secundary-theme);
}

header {
	padding-top: 12px;
	background: #f8f9fa;
}

.navbar-nav li a.nav-link {
	font-weight: 700;
	color: var(--text-color-default)!important;
}

.topbar a:hover,
.navbar-nav li a.nav-link:hover {
	text-decoration: none!important;
	color: var(--primary-theme-hover)!important;
}
/* Section */

i.flaticon-right-arrow:before {
	font-size: .8em;
	font-weight: 700;
}

.btn-cta {
	cursor: pointer;
	padding: 6px 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: initial;
	color: #fff;
	background-color: var(--cta-bg-color);
	border-bottom: 3px solid var(--cta-border-color);
	text-transform: uppercase;
	border-radius: 5px;
	z-index: 1;
}

.btn-cta span {
	font-size: .8em;
	line-height: 1.3em;
	display: block;
}

.btn-cta:hover {
	text-decoration: none !important;
	color: #fff;
	background-color: var(--cta-hover-color);
}

.section-title,
.section-title-center {
	font-weight: 300;
	padding-top: 60px;
}

.section-title:after {
	content: "";
	display: block;
	border-bottom: 2px solid var(--primary-theme);
	width: 40px;
	margin: 30px 0;
}

.section-title-center:after {
	content: "";
	display: block;
	border-bottom: 2px solid var(--primary-theme);
	width: 40px;
	margin: 30px auto;
}

.ul-beneficios i:before {
	color: var(--primary-theme);
	font-weight: 600;
	font-size: 1.2em;
	margin-right: 5px;
}

.detalhes {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 45px !important;
	height: 45px !important;
	background: var(--primary-theme);
	border-top: 4px solid var(--secundary-theme);
	-webkit-clip-path: polygon(52% 50%, 0 0, 100% 0);
	clip-path: polygon(52% 50%, 0 0, 100% 0);
}

.section-bloco3 ul li i{
	color: var(--primary-theme);
	font-size: .8em;
	margin-right: 10px;
}

.benefits-bar {
	position: relative;
	display: inline-block;
	text-align: center;
	margin-bottom: 25px;
	z-index: 9;
	width: 100%;
}

.benefits-bar p {
	margin: -5px 0 0;
}

.benefits-bar .left {
	width: 34.2%;
	float: left;
}

.benefits-bar .right {
	width: 34.2%;
	float: right;
}

.benefits-bar img.image {
	display: inline-block;
	max-width: 180px;
	min-height: 100%;
	object-fit: contain;
	object-position: center;
	position: relative;
}

.benefits-bar ul {
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0 -30px 0 0;
	position: relative;
}

.benefits-bar ul::before {
	width: 37px;
	height: 2px;
	content: '';
	position: absolute;
	right: -5px;
	top: 50%;
	background: #e0e0e0;
}

.benefits-bar li {
	position: relative;
	display: grid;
	align-items: center;
	width: 100%;
	float: left;
	text-align: left;
	color: var(--text-color-default);
	font-size: 18px;
	padding: 25px 60px 25px 60px;
}

.benefits-bar li i {
	position: absolute;
	left: 0px;
}

.benefits-bar li i:before {
	color: var(--primary-theme);
	font-size: 2.5em;
}

.benefits-bar li span {
	display: inline-block;
	padding-right: 10px;
	background: #fff;
	position: relative;
	z-index: 21;
}

.benefits-bar li::before {
	width: 50%;
	height: 2px;
	content: '' !important;
	position: absolute;
	right: 30px;
	top: 50%;
	background: #e0e0e0;
}

.benefits-bar li:first-child::before {
	top: 50%;
}

.benefits-bar li:last-child::before {
	top: 50%;
	width: 60px;
}

.benefits-bar li::after {
	width: 2px;
	height: 100%;
	content: '' !important;
	position: absolute;
	right: 30px;
	top: 0;
	margin-top: 0px;
	background: #e0e0e0;
}

.benefits-bar li:first-child::after {
	top: 50% !important;
}

.benefits-bar li:last-child::after {
	top: -50% !important;
}

.benefits-bar .right li::after {
	right: auto;
	left: 28px;
}

.benefits-bar .right li::before {
	right: auto;
	left: 28px;
	width: 35px;
}

.benefits-bar .right ul {
	margin: 0 0 0 -30px;
}

.benefits-bar .right ul::before {
	right: auto;
	left: -8px;
	top: 50%;
}

.benefits-bar .right li {
	padding-left: 130px;
	padding-right: 0px;
}

.benefits-bar .right li i {
	left: 70px;
}

.benefit-item .benefit-name {
	font-size: 2em;
	line-height: 1;
	font-weight: 300;
	color: var(--primary-theme);
}

.img-responsive {
	margin: 0 auto;
}

.benefit-item,
.ingredient-row {
	margin: 20px 0;
	padding-bottom: 20px;
}

.benefit-item {
	border-bottom: 1px solid #ddd;
}

.benefit-item:last-child {
	border: none;
}

#authority {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background: url('../image/bloco6/cientificidade.png') right -100px bottom no-repeat;
	background-size: auto 90%;
	padding-bottom: 100px;
}

.section-bloco7 {
	position: relative;
	background: #e8e8e8;
}

.section-bloco7 .content-wraper {
	position: relative;
	filter: drop-shadow(-2px -2px 2px #ddd);
	background: #eee;
	border-radius: 5px;
}

.section-bloco7 .content-wraper:before {
	content: "";
	position: absolute;
	right: -30px;
	top: 15%;
	width: 30px;
	height: 50px;
	background: #eee;
	-webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
	clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

.testimony-title {
	font-weight: 700;
	color: var(--primary-theme);
}

.star-content i:before {
	font-weight: 600;
	color: #fcce01
}

span.list-titles {
	vertical-align: middle;
	display: flex;
	align-items: center;
	justify-content: center;
}

span.list-titles i:before {
	font-size: 2.5em;
	font-weight: 500;
	color: var(--primary-theme);
	margin-right: 15px;
}

.section-order {
	position: relative;
	background: var(--primary-theme);
	color: #fff;
}

.section-order:before {
	content: "";
	position: absolute;
	top: 10px;
	width: 100%;
	height: 20px;
	background: var(--secundary-theme);
}

h2.section-title-order {
	padding-top: 60px;
	color: #fff;
}

.section-title-order:after {
	content: "";
	display: block;
	border-bottom: 2px solid #fff;
	width: 40px;
	margin: 30px auto;
}

.off-common {
	background-color: rgba(255, 255, 255, 0.25);
	border: solid 1px rgba(255, 255, 255, 0.1);
	border-bottom: solid 5px rgba(255, 255, 255, 0.1);
	margin-top: 15px;
	color: #fff;
}

.section-order .popular {
	background: var(--cta-bg-color);
	font-size: 16px;
	height: 40px;
	line-height: 40px;
}

.section-order .off-common {
	padding-top: 40px;
}

.off-featured {
	background: #fff;
	padding-bottom: 20px;
}

.btn-cta-order h4 {
	font-weight: 900;
}

.btn-cta-order h4 small:before {
	font-size: .7em;
}

.product-title {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 900;
}

.product-price {
	font-size: 2.5em !important;
	font-weight: 300;
}

.off-featured .product-title,
.off-featured .product-price {
	color: var(--text-color-default) !important;
}

.off-featured .product-price-last {
	color: #a7a7a7;
}

.off-featured .price-economy {
	color: var(--cta-border-color);
}

.off-common .price-economy {
	color: var(--order-economy);
}

.product-price-last {
	font-weight: 300;
}

.product-price-last .amount {
	text-decoration: line-through;
}

.off-common .product-title,
.off-common .product-price-last,
.off-common p {
	color: #fff;
}

.off-common .shipping {
	color: #ffc090;
}

.off-featured .shipping {
	color: #FF0000;
}

.section-faq .accordion-button:not(.collapsed) {
	color: var(--primary-theme);
	background-color: #eeeeee;
}
.references-box {
	position: relative;
}
.anchor-ref {
	display: block;
	position: absolute;
	float: left;
	left: 20px;
	background: var(--primary-theme);
	padding: 2px;
	border-radius: 50%;
	font-size: 10px;
	width: 16px;
	height: 16px;
	text-align: center;
	color: #fff;
	margin-right: 3px;
}
.references-box ul {
	margin: 0 0 0 30px;
	padding: 20px 0;
	list-style: none;
}

.references-box ul li {
	margin-bottom: 20px;
}
.references-box ul li p {
	font-size: 12px;
	color: var(--text-color-default);
}

.references-box ul li a {
	line-break: anywhere;
}

article h1.entry-title {
	display: none;
}

/* Responsive */

@media only screen and (max-width: 1279px) {
	.benefits-bar .left,
	.benefits-bar .right {
		width: 32%;
	}
	.benefits-bar li {
		font-size: 16px;
		line-height: 20px;
	}
	.benefits-bar li:last-child::before {
		width: 30px;
	}
	.benefits-bar img.image {
		width: 27%;
	}
	.btn-cta-order h4 {
		font-size: 1.2em !important;
	}
}

@media only screen and (max-width: 1023px) {
	.benefits-bar li::after,
	.benefits-bar li::before,
	.benefits-bar ul::before {
		display: none;
	}
	.benefits-bar li {
		font-size: 16px;
		line-height: 20px;
		padding: 10px 10px 10px 60px;
		min-height: 10px;
	}
	.benefits-bar .right li {
		padding-left: 60px;
	}
	.benefits-bar .right li i {
		left: 0px;
	}
	.benefits-bar .right ul {
		margin: 0;
	}
	.benefits-bar .left li:last-child {
		padding-top: 20px;
	}
	.benefits-bar img.image {
		width: 160px;
	}
	.benefits-bar li i {
		width: 50px;
	}
	#authority {
		top: auto;
		left: auto;
		bottom: 0;
		right: 0;
		width: 80%;
		height: 80%;
	}
}

@media only screen and (max-width: 767px) {
	.benefits-bar ul {
		margin: 0;
	}
	.benefits-bar .left,
	.benefits-bar .right {
		width: 50%;
	}
	.benefits-bar li {
		padding: 18px 0 18px 60px;
		font-size: 15px;
		line-height: 17px;
	}
	.benefits-bar li i {
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
	}
	.benefits-bar img.image {
		display: none;
	}

	.ingredient-row {
		border-bottom: 1px solid #ddd;
	}

	.ingredient-row:last-child {
		border: none;
	}
	#authority {
		position: relative;
		background: none;
		display: none;
	}
	.section-bloco7 .content-wraper:before {
		display: none;
	}
	span.list-titles {
		justify-content: initial;
	}
	#dynamic-offers-reverse-mobile {
		flex-direction: column-reverse;
	}
	.btn-cta-order h4 {
		font-size: 2em !important;
	}
	#site-brand {
		margin-right: 0;
	}

	#site-brand img {
		width: 120px!important
	}

	nav.navbar .btn-cta {
		font-size: .8em;
		max-width: 120px;
		margin-right: 15px;
		margin-left: auto;
	}

	nav.navbar button.navbar-toggler {
		padding: 0;
		border: none;
	}

	.navbar-collapse {
		text-align: center;
		padding-top: 25px;
		padding-bottom: 20px;
	}

}

@media only screen and (max-width: 479px) {
	.benefits-bar .left,
	.benefits-bar .right {
		width: 100%;
		padding: 0;
	}
	.benefits-bar li span {
		display: block;
	}

	.benefits-bar li br {
		display: none;
	}
	.btn-cta {
		max-width: 280px;
		padding: 6px 10px;
	}
}